extends layout

block content
  - var name = "Your Name"
  h1= title
  p Welcome to #{title} #{name} !

  section#wrapper
    h2 Basic Structure
    section
      p
        span This is a span within a p within a div!